In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [4]:
max_words = 15
tf_feat = pd.DataFrame(columns=np.arange(max_words))

for group in range(1, 130):
    train_data = pd.read_csv(f'TO_GROUPS_text/text_group_{group}.csv', encoding='utf-8')
    train_data.fillna('', inplace=True)
    documents = train_data.text
    
    vect = TfidfVectorizer()
    tfidf_matrix = vect.fit_transform(documents)
    df = pd.DataFrame(tfidf_matrix.toarray(), columns = vect.get_feature_names())
    voc = np.array(df.mean(axis=0).sort_values(ascending=False)[:max_words].index)
    intersect_w = np.zeros((documents.shape[0], max_words))
    for i, title in enumerate(documents):
        words = title.strip().split()
        for j, word in enumerate(voc):
            intersect_w[i, j] = words.count(word)

    tf_feat = tf_feat.append(pd.DataFrame(intersect_w))
    print(f"\r{group} groups are processed...", end='', flush=True)

print('\n', tf_feat.shape)

In [53]:
with open(f'tfidf_texts_train_raw_{group}.csv', mode='w', encoding='utf-8') as f_csv:
    tf_feat.to_csv(f_csv, index=False)

In [5]:
tf_feat.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
count,196.000000,196.000000,196.000000,196.00000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000
mean,48.530612,67.035714,28.678571,24.02551,21.897959,20.688776,29.632653,15.321429,14.622449,17.066327,14.464286,9.535714,5.622449,8.086735,15.112245
std,125.234402,185.970617,77.644712,41.24852,61.076915,61.575470,109.844682,41.564331,35.040494,45.109788,37.223700,15.278399,21.042577,21.914464,36.002103
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,7.000000,1.000000,2.00000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.750000
50%,4.000000,14.000000,9.000000,7.00000,0.000000,1.000000,1.500000,0.000000,1.000000,4.000000,2.000000,4.000000,0.000000,0.000000,4.000000
75%,29.000000,46.250000,25.500000,23.00000,11.000000,11.000000,15.500000,11.500000,10.250000,12.000000,7.250000,10.250000,3.000000,4.000000,12.250000
max,945.000000,1904.000000,765.000000,232.00000,531.000000,575.000000,1308.000000,436.000000,235.000000,481.000000,304.000000,99.000000,258.000000,140.000000,327.000000

In [55]:
max_words = 15
tf_feat_test = pd.DataFrame(columns=np.arange(max_words))

for group in range(130, 310):
    test_data = pd.read_csv(f'TO_GROUPS_text/text_group_{group}.csv', encoding='utf-8')
    test_data.fillna('', inplace=True)
    documents = test_data.text
    
    vect = TfidfVectorizer()
    tfidf_matrix = vect.fit_transform(documents)
    df = pd.DataFrame(tfidf_matrix.toarray(), columns = vect.get_feature_names())
    voc = np.array(df.mean(axis=0).sort_values(ascending=False)[:max_words].index)
    intersect_w = np.zeros((documents.shape[0], max_words))
    for i, title in enumerate(documents):
        words = title.strip().split()
        for j, word in enumerate(voc):
            intersect_w[i, j] = words.count(word)

    tf_feat_test = tf_feat_test.append(pd.DataFrame(intersect_w))
    print(f"\r{group} groups are processed...", end='', flush=True)

print('\n', tf_feat.shape)

(16627, 15)

In [56]:
with open(f'tfidf_texts_train_raw_{group}.csv', mode='w', encoding='utf-8') as f_csv:
    tf_feat_test.to_csv(f_csv, index=False)

In [57]:
tf_feat_test.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
count,16627.000000,16627.000000,16627.000000,16627.000000,16627.000000,16627.000000,16627.000000,16627.000000,16627.000000,16627.000000,16627.000000,16627.000000,16627.000000,16627.000000,16627.000000
mean,0.430625,0.326758,0.252962,0.203224,0.167860,0.142479,0.115655,0.096349,0.093583,0.081614,0.072773,0.066157,0.065857,0.063451,0.057978
std,0.670238,0.664425,0.506308,0.464829,0.409976,0.435098,0.343049,0.338376,0.380758,0.330517,0.328664,0.261994,0.323959,0.300973,0.257231
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,15.000000,16.000000,14.000000,13.000000,7.000000,15.000000,7.000000,14.000000,15.000000,13.000000,13.000000,4.000000,15.000000,11.000000,6.000000